footer{
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 14px;
  color:var(--text-secondary-color);
}
footer ul{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 16px;
}