*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand-color: #EF5F4C;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-tranparency: #FFFFFF 56%;
  --background-color: #FFFFFF;
  --text-primary-color: #313131;
  --text-secondary-color: #6C6C6C;

  --font-family: 'Poppins', sans-serif;

  --fw-base: 400;
  --fw-bold: 700;
  
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-base: 16px;
  --fs-lg: 24px;

  --px-base: 16px;
  --px-lg: 32px;
  --py-base: 16px;
  --py-lg: 32px;
}
html{
  font-family:var(--font-family);
  color: var(--text-color-primary);

  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  font-size: var(--text);
  background-color: var(--background-color);
  color: var(--text-secondary-color);
}
.fs-lg{
  font-size: var(--fs-lg);
}
h1{
  color: var(--text-color-primary);
  font: var(--fw-bold) var(--fs-lg)/125% var(--font-family);
}

@media (width>= 60em) {
  :root{
    --fs-lg: 32px;

    --px-base: 32px;
    --px-lg: 32px;
    --py-base: 20px;
    --py-lg: 32px;
  }
}


a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--brand-color);
  text-decoration: underline;
}
