header{
  padding-block: var(--py-lg);
  font: var(--text-md);
  color: var(--text-secondary-color)
}
#profile{
  display: flex;
  gap: 32px
}
header .container{
  justify-content: space-between;
  align-items: center;
}
#profile > div{
  max-width: 384px;
}
#profile img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
@media (width>= 60em) {
  #profile img{
    width: 176px;
    height: 176px;
  }
}

#profile h1{
  color: var(--text-primary-color);
  margin-bottom: 8px;
}
#info{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#info li{
  display: flex;
  align-items: center;
  gap: 8px;
}